{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true,
      "targets": {
        "browsers": [
          "Chrome >= 60",
          "Safari >= 10.1",
          "iOS >= 10.3",
          "Firefox >= 54",
          "Edge >= 15"
        ]
      }
    }]
  ],
  "plugins": ["transform-object-rest-spread"],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
