.content-body
  margin 0 auto
  padding 0
  word-break break-word

  h1
  h2
  h3
    position relative

  h1:before
  h2:before
  h3:before
    content '#'
    color #4fc08d
    position absolute
    left -.7em
    font-weight 600

  h4
    color #7f8c8d

  img
  video
    clear both
    display block
    border-radius 3px
    max-width 100%
    margin-left auto
    margin-right auto

  img
    border 1px solid #ccc
    padding 3px

  span.light
    color #7f8c8d

  figure
  p
  ul
  ol
    margin 1.2em 0

  figure
  p
    margin-left 0

  p
  ul
  ol
    line-height 1.5em

  ul
  ol
    padding-left 1.5em

  blockquote
    border-left 4px solid #4fc08d
    margin 1.2em 0
    padding-left 20px

  blockquote p
    margin-left 0
    margin .6em 0

  iframe
    margin 1em 0

  p.tip
    background #f8f8f8
    border-left 4px solid #f66
    border-bottom-right-radius 2px
    border-top-right-radius 2px
    padding 12px 24px 12px 30px
    margin 2em 0
    position relative

  p.tip:before
    content '!'
    background #f66
    border-radius 100%
    color #fff
    font-family 'Dosis', 'Source Sans Pro', 'PingFang SC', 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-size 14px
    font-weight 600
    line-height 20px
    text-align center
    width 20px
    height 20px
    position absolute
    top 14px
    left -12px

  p.eof
    text-align center
    line-height 36px

    &:before
    &:after
      content ''
      background #34495e
      display inline-block
      height 2px
      width 50px
      margin 0 5px
      vertical-align middle

    i:before
      content '\2731' // ✱
      color #34495e
      font-size 24px
      font-style normal
      vertical-align middle

    i.cross:before
      content '\2670' // ♰

    i.heart:before
      content '\2764' // ❤

    i.leo:before
      content '\264c' // ♌

    i.music:before
      content '\266b' // ♫
