*
*:before
*:after
  box-sizing border-box

html
body
  height 100%
  margin 0
  padding 0

body
  color #34495e
  font-family 'PingFang SC', 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  overflow-y scroll

.loading
  font-size 10vh
  text-align center
  margin 0
  padding-top 44vh

h1
h2
h3
h4
h5
h6
strong
  font-weight 600
  color #2c3e50

pre
code
  font-family Menlo, Consolas, Monaco, 'Courier New', monospace
  font-size .8em
  background #f8f8f8
  border-radius 3px
  -webkit-font-smoothing initial
  -moz-osx-font-smoothing initial

code
  color #e96900
  padding 3px 5px
  margin 0 2px
  white-space nowrap

pre
pre > code
  white-space pre

em
  color #7f8c8d

p
  word-spacing .05em

q:before
  content "\201c"

q:after
  content "\201d"

blockquote
  margin 0
  padding 1px 15px
  color #777
  background #f4f4f4
  border-left 4px solid #ccc

blockquote > :first-child
  margin-top .5em

blockquote > :last-child
  margin-bottom .3em

abbr
acronym
  border-bottom 1px dotted
  cursor help

table
  border-collapse collapse
  border-spacing 0
  display block
  width 100%
  overflow auto
  word-break normal
  word-break keep-all

table th
  font-weight 600
  background #f7f8ff

table th
table td
  padding 6px 13px
  border 1px solid #ddd

table tr
  background #fff
  border-top 1px solid #ccc

table tr:nth-child(2n)
  background #f8f8f8

kbd
  background #f7f7f7
  border-radius 3px
  border 1px solid #ccc
  box-shadow 0 1px 0 rgba(0, 0, 0, .2), inset 0 0 0 2px #fff
  color #000
  text-shadow 0 1px 0 #fff
  padding .1em .5em
  margin 0 .1em
  font-family Menlo, Consolas, Monaco, 'Courier New', monospace
  font-size .75em
  line-height 1.2
  display inline-block
  white-space nowrap
  position relative
  top -2px

del
  text-decoration line-through

ins
  text-decoration none
  background #ffb

img
video
  border none

a
  text-decoration none
  color #42b983
  cursor pointer
  font-weight 600

a:hover
  text-decoration underline

a.button
  display inline-block
  background #4fc08d
  border 1px solid #4fc08d
  border-radius 100px
  color #fff
  font-size .9em
  text-align center
  vertical-align middle
  min-width 160px
  margin .5em
  padding .625em 1.25em
  transition all .15s ease

  &:hover
    background #5dc596
    border-color #4fc08d
    text-decoration none

.fade-enter-active
.fade-leave-active
  transition opacity .3s ease

.fade-enter
.fade-leave-active
  opacity 0
