pre
  margin 1.2em 0
  position relative

pre > code
  background #f8f8f8
  color #525252
  font-size .85em
  line-height 1.5
  display block
  overflow-x auto
  padding 1em

  &:after
    color #7f8c8d
    font-size .75em
    font-style italic
    font-weight 600
    padding .2em .6em 0
    opacity .25
    transition opacity .4s ease
    position absolute
    top 0
    right 0

  &.lang-html:after
    content 'HTML'

  &.lang-css:after
    content 'CSS'

  &.lang-javascript:after
  &.lang-js:after
    content 'JavaScript'

  &.lang-typescript:after
  &.lang-ts:after
    content 'TypeScript'

  &.lang-php:after
    content 'PHP'

  &.lang-python:after
  &.lang-py:after
    content 'Python'

  &.lang-ruby:after
    content 'Ruby'

  &.lang-java:after
    content 'Java'

  &.lang-go:after
    content 'Go'

  &.lang-rust:after
    content 'Rust'

  &.lang-swift:after
    content 'Swift'

  &.lang-lua:after
    content 'Lua'

  &.lang-r:after
    content 'R'

  &.lang-c:after
    content 'C'

  &.lang-cpp:after
    content 'C++'

  &.lang-csharp:after
  &.lang-cs:after
    content 'C#'

  &.lang-sql:after
    content 'SQL'

  &.lang-json:after
    content 'JSON'

  &.lang-markdown:after
  &.lang-md:after
    content 'Markdown'

  &.lang-bash:after
  &.lang-shell:after
    content 'Shell'

  &.lang-diff:after
  &.lang-patch:after
    content 'Diff'

pre:hover > code:after
  opacity 1

.hljs-strong
  font-weight 600

.hljs-comment
.hljs-quote
.hljs-emphasis
  color #b3b3b3
  font-style italic

.hljs-attr
.hljs-attribute
.hljs-bullet
.hljs-built_in
.hljs-keyword
.hljs-section
.hljs-selector-id
.hljs-type
.hljs-class
  color #e96900

.hljs-tag
.hljs-doctag
.hljs-selector-tag
.hljs-name
.hljs-builtin-name
.hljs-link
.hljs-title
.hljs-meta
.hljs-subst
  color #2973b7

.hljs-symbol
.hljs-string
.hljs-regexp
.hljs-variable
.hljs-template-variable
  color #42b983

.hljs-literal
.hljs-number
  color #ae81ff

.hljs-deletion
  background #fdd

.hljs-addition
  background #dfd

@media screen and (max-width: 999px)
  pre > code:after
    opacity 1
